.catalogo-view{
height: 100%;
width: 100%;    
display: flex;
flex-direction: column;
flex-wrap: nowrap;
}
/* barra de herrmientas */
.div-nav-bar{
background-color: #fff;
flex-grow: 1;
flex-basis: 80px;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-end;
}
.div-nav-bar-select{
/* width: 120px; */
min-height: var(--lumo-text-field-size, var(--lumo-size-s) );
}
.div-nav-bar-filtrar{
    /* width: 120px; */
}
/* barra de herrmientas */
/* post */
.div-content{
    background-color: blueviolet;
    flex-basis: 400px;
    flex-grow: 4;
    flex-shrink: 0;
}
/* post */
/* Tabs */
.div-tab-cotainer{
    background-color: aquamarine;
    flex-grow: 1;
    flex-basis: 80px;
    flex-shrink: 0;
}
/* Tabs */
