/*Barra de navegacion*/
.header{
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: baseline;
}
.header .select{
   margin-right: 10px; 
}
.header .filtrar{
    margin-right: 10px;
    font-family: aria-label;
}


/*Libros Card*/
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.post{
    margin-left: 20px;
    margin-top: 20px;
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border: 2px solid  #8000ff;
}

.post:hover{
    border-color:#8000ff;
    box-shadow: 0px 0px 10px #8000ff; 
}

.post:focus{
    border-color:#8000ff;
    box-shadow: 0px 0px 10px #8000ff; 
}

.imagen-div-div{
    height: 300px;
    background-color: var(--lumo-primary-color);
    display: flex;
    overflow: hidden;
    justify-content: center;

}
.imagen-div{
    padding-top: 5px;
    max-width: 300px;
    max-height: 220px;

}

.imagen-div .imagen{
    height: 100%;
    width: 100%;
    margin: 5px;
    object-fit: fill;
    border-radius: 10%;
}
.imagen{
    width: 300px;
    max-width: 300px;
}

.info{
    height: 200px;
    font-family: sans-serif;
    margin-left: 20px;
    letter-spacing: 1px;
}

.info h1{ 
    font-size: 20px;

}
.info h2, h3{ 
    font-size: 15px;
}

.leer-div{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.leer-div .leer-button{
    width: 400px;
    height: 30px;
    background-color: var(--lumo-primary-color);
    color: #fff;
    text-decoration: none;
    text-align: center;
}
/*
.leer-button:hover {
  color: rgb(0,0,255);
  background-color: transparent;
  text-decoration: underline;
}*/
.leer-button:active {
  color: #ffffff;
  background-color: var(--lumo-primary-color-50pct);
  text-decoration: underline;
}
