.tarjeta_destino_final_view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.tarjeta_destino_final_view__container {
  flex-grow: 1;
}
.tarjeta_estudiante, .tarjeta_trabajdor {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.tarjeta_estudiante__content, .tarjeta_trabajdor__content{
  flex-grow: 1;
}
.tarjeta_estudiante__content__grid-content, .tarjeta_trabajdor__content__grid-content {
  height: inherit;
  width: inherit;
}
/*Header Dialog*/
.div_dialog_title {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
.div_dialog_button {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.div_dialog_header {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}
/*Fin -> Header Dialog*/

.destino-final-view .button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  gap: var(--lumo-space-m);
}
