.estadistica_view {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.estadistica_view___barra_menu {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 60px;
    max-height: 90px;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    align-items: baseline;
}
.estadistica_view__container {
    width: 100%;
    flex-basis: 300px;
    flex-grow: 2;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
.estadistica_view__container__basic_board {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.estadistica_view__container__grafics_key_board {
  width: 100%;
  flex-grow: 3;
}
.barra-menu-date {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 432px;
  align-items: inherit;
  justify-content: space-evenly;
  margin: 5px;
}

.estadistica_view___barra_menu__export {
  margin: 10px;
  height: 44px;
  min-width: 45px;
}

.estadisticas {
}
