
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var( --lumo-primary-color);
    border-top: 1px solid;
}

.footer h6{
    font: var( --lumo-font-size-l);
    color: #fff;
    letter-spacing: 0.5px;
}

