.modelo_pago_view {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}
/*Header Dialog*/
.div-dialog-header {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}
.div-dialog-title {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
.div-dialog-button {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
/*Fin -> Header Dialog*/

.barra_navegacion {
  height: 60px;
}
.barra_navegacion__tabs {
  width: max-content;
  margin-top: 10px;
}
.barra_navegacion__tabs__tab1:active,
.barra_navegacion__tabs__tab2:active {
  border-top: 2px solid var(--lumo-primary-text-color);
  border-right: 2px solid var(--lumo-primary-text-color);
  border-left: 2px solid var(--lumo-primary-text-color);
  color: var(--lumo-primary-text-color);
}

/*Modelo*/
.container__modelo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.container__modelo .container {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
.container__modelo .container .grid_content {
  height: 100%;
  width: 100%;
}
/*Fin -> Modelo Estudiante, Trabajador*/
.modelo_pago_view .button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  gap: var(--lumo-space-m);
}
