.modulo_view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.container {
  flex-grow: 1;
}
.container__grid_content {
  height: inherit;
  width: inherit;
}
/*Header Dialog*/
.div_dialog_title {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
.div_dialog_button {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.div_dialog_header {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}
/*Fin -> Header Dialog*/

.modulo_view vaadin-grid {
  height: 100%;
}
.modulo_view .button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  gap: var(--lumo-space-m);
}
