.usuario_view{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
}

/*Header Dialog*/
.div_dialog_header{
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

.div_dialog_title{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.div_dialog_button{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px; 
}

/*Fin -> Header Dialog*/
.usuario_view__container{
    display: flex;
    flex-direction: column;
}
.usuario_view__container__div_grid{
    flex-grow: 1;
    flex-basis: 400px;
    flex-shrink: 0;
}
.form-content{
    max-height: 1050px;
    width: 25em;
    overflow: auto;
}

.button-layout {
    margin-top: 15px;
    background-color: var(--lumo-contrast-5pct);
    padding-bottom: var(--lumo-space-s);
    padding-top: var(--lumo-space-s);
    padding-left: var(--lumo-space-l);
    padding-right: var(--lumo-space-l);
    gap: var(--lumo-space-m);
}