[slot='drawer'] {
  background-image: linear-gradient(0deg, var(--lumo-shade-5pct), var(--lumo-shade-5pct));
}

[slot='drawer'] nav a {
  text-decoration: none;
  transition: color 140ms;
  color: #000;
}

[slot='drawer'] nav a .la {
  margin-top: calc(var(--lumo-space-xs) * 0.5);
}

[slot='drawer'] nav a::before {
  border-radius: var(--lumo-border-radius);
  bottom: calc(var(--lumo-space-xs) * 0.5);
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: calc(var(--lumo-space-xs) * 0.5);
  transition: background-color 140ms;
}

[slot='drawer'] nav a[highlight] {
  color: var(--lumo-primary-text-color);
}

[slot='drawer'] nav a[highlight]::before {
  background-color: var(--lumo-primary-color-10pct);
}

[slot='drawer'] footer vaadin-context-menu {
  align-items: center;
  display: flex;
}

.login__link {
  background-color: #fff;
  height: 100%;
  width: 100px;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: inherit;
  text-shadow: inherit;
  padding: 0px;
  border: none;
  box-shadow: none;
  border-radius: var(--lumo-border-radius-m);
  transition: transform 0.2s;
}
.login__link:hover {
  text-decoration: none;
  transform: translateY(-10%);
}
.login__link:active {
  text-decoration: none;
  transform: scale(0.95);
}
.menu-item-link {
  display: flex;
  margin-left: var(--lumo-space-s);
  margin-right: var(--lumo-space-s);
  padding: var(--lumo-space-s);
  position: relative;
  color: var(--lumo-secondary-text-color);
}

.menu-item-text {
  font-weight: 500;
  font-size: var(--lumo-font-size-s);
}

.menu-item-icon {
  margin-inline-end: var(--lumo-space-s);
  font-size: var(--lumo-font-size-l);
}

.view-title {
  margin: 0;
  font-size: var(--lumo-font-size-l);
}

.view-header {
  align-items: center;
  background-color: var(--lumo-base-color);
  border-bottom: 1px solid;
  border-color: var(--lumo-contrast-10pct);
  box-sizing: border-box;
  display: flex;
  height: var(--lumo-size-xl);
  width: 100%;
}

.view-toggle {
  color: var(--lumo-secondary-text-color);
}

.app-name {
  align-items: center;
  display: flex;
  height: var(--lumo-size-xl);
  margin: 0;
  padding: 12px;
  border-bottom: white solid 2px;
  font-size: var(--lumo-font-size-m);
}

.drawer-section {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 100%;
}

.menu-item-container {
  border-bottom: 1px solid;
  border-color: var(--lumo-contrast-10pct);
  flex-grow: 1;
  overflow: auto;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.div-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--lumo-primary-color);
  box-sizing: border-box;
  border-bottom: 1px solid;
}

.h1-title,
.span-name {
  color: #ffffff;
}

.toggle,
.avatar {
  background-color: #ffffff;
}

.div-toggle-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.div-toggle-title img {
  width: 200px;
  height: 50px;
}

.modificar-clave-view {
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
